*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
greenhouse/bin/
greenhouse/target/
.settings/
greenhouse/.classpath
showcase-01-basic-config/.classpath
showcase-02-database-common/.classpath
showcase-03-swagger/.classpath
showcase-05-web-contentnegotiation/.classpath
showcase-06-database-mysql/.classpath
showcase-07-testing-integrated-w-h2db/.classpath
showcase-08-testing-integrated-w-jmeter/.classpath
showcase-04-webmvc/.classpath
